<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

{{^person}}
    <form action="/add-person" method="post">
        <input type="text" placeholder="Enter your name" name="name">
        <input type="text" placeholder="Enter your city" name="city">
        <input type="text" placeholder="Enter your age" name="age">
        <button type="submit">Submit</button>
    </form>
{{/person}}

{{#person}}

    {{name}} from {{city}}, {{age}} years old.
<br>
<br>
<a href="person.html"><button type="submit">Go Back</button></a>

{{/person}}

</body>
</html>